<div class="ui very padded secondary segment newsletter">
    <div class="ui bottom aligned grid">
        <div class="doubling two column row">
            <div class="column">
                <h2 class="ui huge header">
                    {{ 'sylius.homepage.newsletter'|trans }}
                </h2>
                <p>
                    {{ 'sylius.homepage.newsletter_description'|trans|raw }}
                </p>
            </div>
            <div class="column">
                {% include '@BitBagSyliusMailChimpPlugin/_subscribe.html.twig' %}
            </div>
        </div>
    </div>
</div>
<div class="ui hidden divider"></div>
